{{define "content"}}
    <a href="/admin/integrations">&larr; {{T "Back to integrations list"}}</a>

    {{if .Integration}}
    <h1>{{T "Integration:"}} {{.Integration.Name}}</h1>
    <p>{{.Integration.Description}}</p>

    <h2 style="margin-top: 2em;">{{T "Process Diagram"}}</h2>
    <div class="mermaid-container">
        <pre class="mermaid">
            {{.MermaidDiagram}}
        </pre>
    </div>


    <h2 style="margin-top: 2em;">{{T "Collectors"}}</h2>
    {{if .Collectors}}
    <table>
        <thead>
            <tr>
                <th>{{T "Name"}}</th>
                <th>{{T "Schedule"}}</th>
                <th>{{T "Engine"}}</th>
                <th>{{T "Created"}}</th>
            </tr>
        </thead>
        <tbody>
            {{range .Collectors}}
            <tr>
                <td><a href="/admin/collectors/{{.ID}}">{{.Name}}</a></td>
                <td><code>{{.Schedule}}</code></td>
                <td>{{.Engine}}</td>
                <td>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <p>{{T "No collectors for this integration."}}</p>
    {{end}}

    <h2 style="margin-top: 2em;">{{T "Routes"}}</h2>
    {{if .Routes}}
    <table>
        <thead>
            <tr>
                <th>{{T "Name"}}</th>
                <th>{{T "Source"}}</th>
                <th>{{T "Destination / Transformation"}}</th>
                <th>{{T "Type"}}</th>
                <th>{{T "Created"}}</th>
            </tr>
        </thead>
        <tbody>
            {{range .Routes}}
            <tr>
                <td><a href="/admin/routes/{{.ID}}">{{.Name}}</a></td>
                <td>
                    <strong>{{.SourceAppName}}</strong><br>
                    <small>{{.SourceChannelName}}</small>
                </td>
                <td>
                    {{if .TransformationID}}
                        <strong>{{T "Transformation:"}}</strong> {{.TransformationName}}<br>
                        <hr style="margin: 5px 0; border-color: #eee;">
                    {{end}}
                    <strong>{{.DestinationAppName}}</strong><br>
                    <small>{{.DestinationChannelName}}</small>
                </td>
                <td>{{.RouteType}}</td>
                <td>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <p>{{T "No routes for this integration."}}</p>
    {{end}}

    {{else}}
    <p>{{T "Integration not found."}}</p>
    {{end}}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
</script>
{{end}}